# PostgreSQL connection string
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sims_db?schema=public"

# JWT Secret Configuration
JWT_SECRET="sims-super-secret-jwt-signing-key-32-chars-minimum-key"
JWT_EXPIRES_IN="7d"

# Server Configuration
PORT=3000
NODE_ENV="development"
API_BASE_URL="http://localhost:3000"
